@use '../../assets/styles/variables' as *;

.folder-inner-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 280px;
  min-height: 260px;
  width: 100%;
  background: $primary-background;
  border-radius: $border-radius-medium;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  overflow-y: auto;

  .selected-actions-panel {
    position: sticky;
    top: 0;
    background: $primary-background;
    z-index: 2;
    width: 100%;
    text-align: center;

    .selected-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      background: $secondary-background;
      padding: 8px 24px;

      .selected-folder-items {
        font-family: $font-family-satoshi;
        font-size: 14px;
        font-weight: $font-weight-bold;
        line-height: 21px;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    margin: 55px 0 0 0;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    // min-height: 40px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

.folder-table {
  width: 100%;
  border-collapse: collapse;

  .folder-table-header {
    background-color: $primary-background;
    color: $primary-color;
    position: sticky;
    top: -1px;
    z-index: 1;
    font-family: $font-family-satoshi;
    font-size: 14px;
    font-weight: $font-weight-bold;
    line-height: 21px;
    padding: 16.5px 20px;
    text-align: left;

    .sort-icon {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 17px;
      left: 52px;
    
  }
  }

  .table-data-item {
    font-family: $font-family-satoshi;
    font-size: 14px;
    font-weight: $font-weight-normal;
    line-height: 21px;
    color: $primary-color;
    padding: 12px 20px;
    text-align: left;
    border-bottom: 1px solid $primary-background;

    &.actions-column {
      display: flex;
      align-items: center;
      gap: 12px;
      justify-content: flex-end;
    }
  }

  tbody {
    .table-data-body-row:first-child {
      .table-data-item:first-child {
        border-top-left-radius: 12px;
      }
      .table-data-item:last-child {
        border-top-right-radius: 12px;
      }
    }
    .table-data-body-row:last-child {
      .table-data-item:first-child {
        border-bottom-left-radius: 12px;
      }
      .table-data-item:last-child {
        border-bottom-right-radius: 12px;
      }
    }
  }

  .table-data-body-row {
    background-color: $highlight-background;

    &:hover {
      background-color: $highlight-background-hover;
    }

    &:active {
      background-color: $primary-background;
    }

    &.selected {
      background-color: $primary-background;
    }
  }

  .research-column {
    display: flex;
    align-items: center;
    gap: 16px;

    .custom-folder-checkbox {
      position: relative;
      width: 14px;
      height: 14px;
      border-radius: 4px;
      cursor: pointer;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      label {
        display: block;
        width: 100%;
        height: 100%;
        background: url('../../assets/icons/checkbox-inactive-icon.svg')
          no-repeat center center;
        background-size: contain;
        cursor: pointer;
      }

      input:checked + label {
        background: url('../../assets/icons/checkbox-active-icon.svg') no-repeat
          center center;
        background-size: contain;
      }
    }
  }

  .actions-column {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: flex-end;

    .admin-portal-action-btn {
      font-family: $font-family-satoshi;
      font-size: 14px;
      font-weight: $font-weight-normal;
      line-height: 21px;
      color: $primary-color;
      padding: 6px 12px;
      background-color: transparent;
      border: 1px solid $input-border-gray-darker;
      border-radius: $border-radius-small;
    }

    .admin-portal-action-btn:hover {
      background-color: $input-border-gray-darker;
      cursor: pointer;
    }
  }
}

.folder-table-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 280px;
  min-height: 260px;
  width: 100%;
  background: $primary-background;
  border-radius: $border-radius-medium;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  overflow-y: auto;
  background-color: $highlight-background;
  text-align: center;
}

.folder-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.folder-table-empty p {
  font-family: $font-family-satoshi;
  font-size: 16px;
  font-weight: $font-weight-normal;
  line-height: 20.8px;
  letter-spacing: -0.01em;
  text-align: center;
  color: $primary-color;
  margin-bottom: 20px;
  white-space: pre-line;
}

.research-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  border-radius: $border-radius-small;
  background-color: transparent;
  font-family: $font-family-satoshi;
  font-style: normal;
  font-weight: $font-weight-normal;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;

  &.download-all {
    border: 1px solid $primary-color;
    color: $primary-color;

    &:hover {
      background-color: $background-dark-light;
    }
  }

  .button-icon {
    width: 14px;
    height: 14px;
  }
}

.selected-items-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .close-button-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}

[data-theme-mode='light'] {
  .folder-table {
    .research-column {
      .custom-folder-checkbox {
        label {
          background: url('../../assets/icons/checkbox-light-inactive-icon.svg')
            no-repeat center center;
          display: block;
          width: 100%;
          height: 100%;

          background-size: contain;
          cursor: pointer;
        }

        input:checked + label {
          background: url('../../assets/icons/checkbox-light-active-icon.svg')
            no-repeat center center;
          background-size: contain;
        }
      }
    }
  }

  .folder-table-empty p {
    color: $background-darker;
  }
}

// mobile modal
.mobile-options-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-option-item {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  font-weight: $font-weight-normal;
  color: $text-color-neutral;
  padding: 10px 6px;

  &.delete-option {
    color: $delete-red-color;
  }

  &:hover {
    background: $secondary-background;
    border-radius: 8px;
  }
  .mobile-dropdown-menu-icon {
    width: 14px;
    height: 14px;
  }
}

.research-title {
  max-width: 230px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

@media screen and (max-width: 768px) {
  .folder-inner-list {
    max-height: 280px;
    min-height: 0px !important;
    border-radius: 0px 0px 12px 12px !important;
  }
  .folder-icon {
    width: 35px;
    height: 35px;
    margin-bottom: 15px;
  }

  .folder-table-empty {
    max-height: 280px;
    min-height: 150px;
    border-radius: 0 0 12px 12px !important;
  }

  .folder-table-empty p {
    font-size: 14px;
  }

  .mobile-selected-actions {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background: var(--primary-background);
    width: 100%;
    align-items: self-end;
    padding: 24px 16px;
    height: 100px;
  }

  .mobile-selected-folder-items {
    font-family: $font-family-satoshi;
    font-size: 14px;
    font-weight: $font-weight-bold;
    line-height: 21px;
  }

  .mobile-close-button-icon {
    width: 25px;
    height: 25px;
  }

  .mobile-research-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    border-radius: $border-radius-small;
    background-color: transparent;
    font-family: $font-family-satoshi;
    font-style: normal;
    font-weight: $font-weight-normal;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
  }

  .mobile-research-button.download-all {
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  .mobile-research-button.download-all:hover {
    background-color: $background-dark-light;
  }

  .mobile-button-icon {
    width: 14px;
    height: 14px;
  }

  .mobile-selected-items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .folder-table {
    .table-data-item {
      padding: 20px 12px !important;
      display: flex;
      justify-content: space-between;
    }
  }

  .research-title {
    font-size: 12px;
    font-weight: $font-weight-normal;
  }

  .mobile-publication-date {
    font-size: 10px;
    color: $text-color-neutral;
    font-weight: $font-weight-normal;
    font-family: $font-family-satoshi;
    margin-top: 15px;
  }
}

@media screen and (max-width: 375px) {
}
