@use "../../assets/styles/variables" as *;

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 40px;
  margin: 0 auto;
  background-color: $highlight-background;
  color: $text-color-main;
  height: 100vh;
  margin: 0 auto;
  width: 450px;

  .logo-big {
    height: 72px;
  }

  .title {
    font-family: $font-family-satoshi;
    font-size: 36px;
    font-weight: $font-weight-bold;
    line-height: 54px;
    text-align: center;
    color: $text-color-main;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -24px;
  }

  .error-text {
    margin-left: 16px;
    color: $delete-red-color;
    font-family: $font-family-satoshi;
    font-size: 14px;
    font-weight: $font-weight-normal;
    line-height: 21px;
    margin-top: 5px;
  }

  .login-continue-button-wrapper {
    margin-top: 40px;
  }

  .login-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .help-text,
    .support-text {
      font-family: $font-family-satoshi;
      font-size: 16px;
      font-weight: $font-weight-normal;
      line-height: 24px;
      color: $text-color-neutral;

      .text-red {
        color: $bright-red-color;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .login-page {
    width: 340px;
    gap: 30px;

    .logo-big {
      height: 55px;
    }

    .title {
      font-size: 24px;
      font-weight: $font-weight-bold;
    }
    .login-footer {
      .help-text,
      .support-text {
        text-align: center;
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .login-page {
    width: 300px;
    gap: 30px;
  }
}

// @media screen and (max-width: 768px) {
// }

// @media screen and (max-width: 1024px) {
// }

// @media screen and (max-width: 1280px) {
// }
