@use "../../assets/styles/variables" as *;

.dropdown-folder-menu {
  position: absolute;
  background-color: #1c1c1c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  min-width: 100px;
  z-index: 10;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: start;

  .dropdown-item {
    padding: 8px;
    border-radius: 8px;
    color: $text-light-neutral;
    cursor: pointer;
    font-family: $font-family-satoshi;
    font-size: 16px;
    font-weight: $font-weight-normal;
    line-height: 24px;

    &:hover {
      background: $secondary-background;
      border-radius: 8px;
    }

    &.object-option {
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        width: 16px;
        height: 16px;
      }
    }

    &.delete-option {
      color: $delete-red-color;
      width: 100%;

      &:hover {
        background: $secondary-background;
        border-radius: 8px;
      }
    }
  }
}

.dropdown-item.status-option {
  font-family: $font-family-satoshi;
  font-size: 12px;
  font-weight: $font-weight-medium;
  line-height: 18px;
  border-radius: 20px;
  padding: 3px 10px;
  gap: 5px;
  cursor: pointer;

  &.active {
    color: $status-active-green;
    background-color: rgba(37, 122, 0, 0.2);
    border-radius: 20px;

    &:hover {
      background-color: rgba(28, 93, 1, 0.2);
    }
  }

  &.closed {
    color: $text-light-neutral;
    background-color: $background-dark-light;
    border-radius: 20px;

    &:hover {
      background-color: #424242;
    }
  }

  &.rejected {
    color: #ff8b8b;
    background-color: rgba(231, 0, 0, 0.2);
    border-radius: 20px;

    &:hover {
      background-color: rgba(122, 0, 0, 0.2);
    }
  }

  &.watchlist {
    color: #00c5ff;
    background-color: rgba(33, 88, 205, 0.2);
    border-radius: 20px;

    &:hover {
      background-color: rgba(4, 45, 134, 0.3);
    }
  }
}
