@use "../../../assets/styles/variables" as *;

.folders-and-document-container {
  display: flex;
  width: 100%;
}

.folders-container {
  flex: 1;
}

.document-preview {
  background-color: $primary-background;
  border-radius: $border-radius-medium;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin-right: 32px;
  margin-top: 68px;
  background-color: $primary-background;
  padding: 26px 10px;
  padding-bottom: 0;
  border-radius: $border-radius-medium;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  overflow-y: auto;
  max-height: 70vh;
  position: relative;

  .close-icon {
    position: absolute;
    top: 4px;
    right: 6px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 2;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

.react-pdf__Page {
  width: 100%;
  margin-bottom: 10px;
  object-fit: contain;
}

.no-folders-message {
  font-family: $font-family-satoshi;
  font-size: 18px;
  font-weight: $font-weight-medium;
  line-height: 48px;
  color: $text-color-light;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0 auto;
}

.pagination-wrapper {
  padding: 0 32px;
}
