@use '../../assets/styles/variables' as *;

.home-page-container {
  margin-left: 10%;
  overflow: hidden;
  display: flex;
}
.home-page-container-background {
  margin-left: 10%;
  overflow: hidden;
  display: flex;
  background-color: #bf272d;
  height: 125px;
}
.main-door-home-icon {
  display: block;
}

.home-login-button-wrapper {
  position: absolute;
  top: 30%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: 80;
  flex-direction: column;
}

.key-graphic-icon {
  width: 60px;
  margin-bottom: 7px;
}

.request-access-login-button {
  text-transform: uppercase;
  font-family: $font-family-satoshi;
  font-weight: $font-weight-medium;
  font-size: 14px;
  letter-spacing: 3px;
  cursor: pointer;
}

.horizontal-line-login-button {
  width: 200px;
  margin: 7px;
  border-top: 2px solid $home-page-light;
  border-radius: 5px;
  color: $home-page-light;
}

.home-page-header {
  display: flex;
  justify-content: center;
}
.burger-menu-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  align-self: center;
  position: absolute;
  left: 10%;
}
.redkey-logo-icon {
  width: 170px;
  margin: auto;
  height: 130px;
}

.teams-info-wrapper {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 80%;
  // width: 80;
  // margin: auto;
  // margin-top: -320px;
  // //   z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  position: absolute;
  top: 100vh;
  left: 50%;
  transform: translate(-50%, 0);
}

.teams-info-main-title {
  text-transform: uppercase;
  font-family: $font-family-satoshi;
  font-weight: $font-weight-bold;
  font-size: 20px;
  letter-spacing: 7px;
  margin-bottom: 20px;
  color: $home-page-light;
}

.team-icon {
  width: 47px;
  height: 47px;
  align-self: center;
  margin: auto;
}
.teams-items-wrapper {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  // margin-bottom: 40px;
  margin-bottom: 85px;
}

.team-item-container {
  display: grid;
  max-width: 200px;
}

.team-item-title {
  font-family: $font-family-satoshi;
  font-weight: $font-weight-bold;
  font-size: 16px;
  text-align: center;
  margin: 10px auto;
  color: $home-page-light;
}
.team-item-description {
  font-family: $font-family-satoshi;
  font-weight: $font-weight-normal;
  font-size: 12px;
  color: $home-page-light;
}

.footer-home-page {
  font-family: $font-family-satoshi;
  font-weight: $font-weight-medium;
  font-size: 12px;
  margin-top: 50px;
  color: $home-page-light;
  margin-bottom: 30px
}

.header-container {
  position: relative;
}

.main-dropdown-menu {
  position: absolute;
  top: 100px;
  left: 10%;
  padding: 25px 25px 15px 15px;
  min-width: 250px;
  z-index: 100;
  animation: fadeIn 0.2s ease-out;
  background: var(--accent-color);
  border: 1px solid var(--primary-background);
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
  }

  .home-menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 16px;
    margin: 0 10px;
    font-family: $font-family-satoshi;
    font-size: 16px;
    font-weight: $font-weight-normal;
    line-height: 24px;
    color: $text-color-neutral;
    cursor: pointer;

    span {
      font-family: $font-family-satoshi;
      font-size: 14px;
    }
  }

  p {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 16px;
    margin: 0 10px;
    cursor: pointer;
    font-family: $font-family-satoshi;
    font-size: 16px;
    font-weight: $font-weight-normal;
    line-height: 24px;
    color: $text-color-neutral;

    &:hover {
      background: $secondary-background;
      border-radius: 8px;
    }
  }
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  color: white;

  .menu-icon {
    width: 18px;
    height: 18px;
    stroke: white;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-info {
  color: $white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  // margin-top: 10px;
  margin-bottom: 35px;

  &.privacy {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 3px;
    transition: all 0.3s ease;
  }
}

.burger-menu.open {
  left: 0;
}

.mobile-home-menu-icon {
  stroke: $text-color-neutral;
  width: 14px;
  height: 14px;
}

// @media screen and (max-width: 1024px) {
//   .teams-info-wrapper {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 80%;
//     width: 80;
//     margin: auto;
//     margin-top: -320px;
//     //   z-index: 10;

//   }

// }

@media screen and (max-width: 768px) {
  .home-page-container {
    margin-left: 7%;
    overflow: hidden;
    display: flex;
    //   position: relative;
  }
  .main-door-home-icon {
    display: block;
  }

  .home-login-button-wrapper {
    position: absolute;
    top: 160px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }

  .contact-info {
    color: $white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 12px;
  }

  .key-graphic-icon {
    width: 50px;
    margin-bottom: 7px;
  }

  .request-access-login-button {
    text-transform: uppercase;
    font-family: $font-family-satoshi;
    font-weight: $font-weight-medium;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .horizontal-line-login-button {
    width: 160px;
    margin: 7px;
    border-top: 2px solid $home-page-light;
    border-radius: 5px;
    color: $home-page-light;
  }

  .home-page-header {
    display: flex;
    justify-content: center;
  }
  .burger-menu-icon {
    height: 40px;
    width: 40px;
    cursor: pointer;
    align-self: center;
    position: absolute;
    left: 7%;
  }
  .redkey-logo-icon {
    width: 130px;
    margin: auto;
    height: 130px;
  }

  .teams-info-wrapper-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 100vh;
    margin-left: 7%;
    background: #bf272d;
    max-width: calc(100% - 7%);
    box-sizing: border-box;
  }

  .teams-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .teams-info-main-title {
    text-transform: uppercase;
    font-family: $font-family-satoshi;
    font-weight: $font-weight-bold;
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: 40px;
    width: 250px;
    color: $home-page-light;
    text-align: center;
    transform: translateX(-7%);
  }

  .team-icon {
    width: 47px;
    height: 47px;
    align-self: center;
    margin: auto;
  }
  .teams-items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    transform: translateX(-7%);
  }

  .team-item-container {
    display: grid;
    max-width: 200px;
  }

  .team-item-title {
    font-family: $font-family-satoshi;
    font-weight: $font-weight-bold;
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
    color: $home-page-light;
  }
  .team-item-description {
    font-family: $font-family-satoshi;
    font-weight: $font-weight-normal;
    font-size: 12px;
    color: $home-page-light;
  }

  .footer-home-page {
    font-family: $font-family-satoshi;
    font-weight: $font-weight-medium;
    font-size: 12px;
    margin-top: 50px;
    color: $home-page-light;
    transform: translateX(-10%);
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 375px) {
}
