@use "../../../assets/styles/variables" as *;

.folder-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 54px;
  padding: 13px 20px;
  gap: 15px;
  background-color: $primary-background;
  border-radius: 12px 12px 0 0;
  transition: width 0.7s ease, border-radius 0.7s ease;

  .folder-expandable-element {
    display: inline-flex;
    gap: 15px;
    cursor: pointer;

    img {
      gap: 15px;
    }

    .title {
      font-family: $font-family-satoshi;
      font-size: 18px;
      font-weight: $font-weight-medium;
      line-height: 27px;
      text-align: left;
      color: $text-color-accent;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .items-amount {
    font-family: $font-family-satoshi;
    font-size: 14px;
    font-weight: $font-weight-normal;
    line-height: 21px;
    color: $secondary-color;
  }

  .status {
    font-family: $font-family-satoshi;
    font-size: 12px;
    font-weight: $font-weight-medium;
    line-height: 18px;
    border-radius: 20px;
    padding: 3px 10px;
    gap: 5px;
    cursor: pointer;

    &::first-letter {
      text-transform: uppercase;
    }

    &.active {
      color: $status-active-green;
      background-color: rgba(37, 122, 0, 0.2);
    }
    &.closed {
      color: $text-color-neutral;
      background-color: $background-dark-light;
    }
    &.rejected {
      color: #ff8b8b;
      background-color: rgba(231, 0, 0, 0.2);
    }
    &.watchlist {
      color: #00c5ff;
      background-color: rgba(33, 88, 205, 0.2);
    }
  }

  .more-icon {
    cursor: pointer;
  }

  &.closed {
    width: 100%;
    border-radius: $border-radius-medium;
  }
}

[data-theme-mode="light"] {
  .folder-header {
    .status {
      &.closed {
        color: $background-dark-light;
        background-color: $input-border-gray-darker;
      }
      &.rejected {
        color: #ff4949;
        background-color: rgba(231, 0, 0, 0.2);
      }
      &.watchlist {
        color: #3083cc;
        background-color: rgba(33, 88, 205, 0.2);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .folder-header {
    width: auto;
    gap: 15px;

    .folder-expandable-element {
      .title {
        font-family: $font-family-satoshi;
        font-size: 14px;
        font-weight: $font-weight-medium;
        line-height: normal;
        text-align: left;
        color: $text-color-accent;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 101px;
      }
    }

    .items-amount {
      font-size: 12px;
    }

    .status {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 375px) {
}
