@use '../../assets/styles/variables' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  gap: 0px;
  width: 100%;
  height: 80px;
  opacity: 1;
  background-color: $primary-background;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.logo {
  height: 32px;
}

.menu-icon {
  width: 24px;
  height: 24px;
  background: url('../../assets/icons/menu.svg') no-repeat center center;
  background-size: contain;

  &:hover {
    background: url('../../assets/icons/menu-active.svg') no-repeat center
      center;
    background-size: contain;
    cursor: pointer;
  }
}

.nav-links {
  display: flex;
  gap: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav-links-horizontal-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
  align-items: center;
}

.nav-scroll-wrapper {
  display: flex;
  // align-items: center;
  // position: relative;
  // flex-grow: 1;
  max-width: 60vw;
  // min-width: 50vw;
}

.nav-links-horizontal {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  gap: 30px;
  flex-wrap: nowrap;
  max-width: 60vw;

  &:hover {
    color: $delete-red-color;
  }

  .active {
    color: $delete-red-color;
  }
}

.scroll-btn {
  // position: absolute;
  z-index: 1;
  background: $secondary-color;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  // border-radius: 50%;
}

.nav-link {
  font-size: 16px;
  color: $primary-color;
  cursor: pointer;
  font-family: $font-family-satoshi;
  font-size: 16px;
  font-weight: $font-weight-normal;
  line-height: 24px;
  padding: 10px 0;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $delete-red-color;
    border-bottom: 1px solid $delete-red-color;
  }
}

.nav-link.active {
  color: $delete-red-color;
  border-bottom: 1px solid $delete-red-color;
}
.nav-link.inactive-access {
  color: $inactive-access;
  border-bottom: none;
  &:hover {
    color: $secondary-color;
    border-bottom: none;
  }

  &.active {
    color: $secondary-color;
    border-bottom: 1px solid $secondary-color;
  }
}

.header-dropdown-icon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .header {
    align-items: self-end;
    padding: 24px 16px;
    height: 100px;
  }

  .menu-icon {
    margin-bottom: 6px;

    &:hover {
      margin-bottom: 6px;
    }
  }
}

@media screen and (max-width: 375px) {
  .login-page {
    width: 300px;
    gap: 30px;
  }
}
