@use "../../assets/styles/variables" as *;

.search-and-filter-panel {
  display: flex;
  align-items: center;
  gap: 14px;
}

.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 230px;

  border: 1px solid $input-border;
  border-radius: $border-radius-small;
  background: transparent;
}

.search-input {
  width: 75%;
  padding: 12px;
  border: none;
  background: transparent;
  font-size: 14px;
  color: $text-color-accent;
  outline: none;
  font-family: $font-family-satoshi;
  font-size: 16px;
  font-weight: $font-weight-normal;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.search-input::placeholder {
  color: $secondary-color;
}

.search-icon {
  position: absolute;
  right: 10px;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}
.search-close-icon {
  position: absolute;
  right: 34px;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.filter-button {
  padding: 13px;
  border: none;
  background-color: transparent;
  border-radius: $border-radius-small;
  cursor: pointer;
  border: 1px solid $input-border;
  font-size: 16px;
}

.filter-icon {
  width: 22px;
  height: 22px;
  img {
    width: 21px;
    height: 21px;
  }
}

@media screen and (max-width: 768px) {
  .search-input-container {
    width: 200px;
  }
}

@media screen and (max-width: 375px) {
  .search-input-container {
    width: 180px;
  }
}
