@use "./assets/styles/variables" as *;

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/Satoshi-Regular.woff") format("woff"),
    url("/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: $font-weight-normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("/fonts/Satoshi-Medium.woff") format("woff"),
    url("/fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: $font-weight-medium;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/Satoshi-Bold.woff") format("woff"),
    url("/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: $font-weight-bold;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: $font-family-satoshi;
  background-color: $highlight-background;
  color: $text-color-accent;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: $highlight-background;
}

[data-theme-mode="dark"] {
  .theme-toggle-icon {
    stroke: $text-color-accent !important;
    width: 13px;
    height: 13px;
  }
  .dropdown-menu-icon {
    stroke: $text-color-neutral !important;
    width: 16px;
    height: 16px;
  }
  .mobile-dropdown-menu-icon  {
    stroke: $text-color-neutral !important;
    width: 14px;
    height: 14px;
  }
  .dropdown-menu-icon-red {
    stroke: $delete-red-color !important;
    width: 16px;
    height: 16px;
  }
  .filter-icons {
    stroke: $text-color-accent !important;
    width: 14px;
    height: 14px;
  }
  .file-icon {
    stroke: $text-color-main !important;
    width: 14px;
    height: 14px;
  }
  .upload-icon {
    stroke: $text-color-accent !important;
  }
  .button-icon.download-all {
    stroke: $primary-color !important;
  }
  .mobile-button-icon.download-all {
    stroke: $primary-color !important;
  }
  .folder-icon {
    stroke: $primary-color !important;
  }
  .contact-us-icon {
    stroke: $text-color-accent !important;
    width: 15px;
    height: 15px;
  }
  .big-lock-icon {
    stroke: $text-color-accent !important;
  }
}

[data-theme-mode="light"] {
  .theme-toggle-icon {
    stroke: $text-color-accent !important;
    width: 13px;
    height: 13px;
  }
  .dropdown-menu-icon {
    stroke: $text-color-main !important;
    width: 16px;
    height: 16px;
  }
  .mobile-dropdown-menu-icon {
    stroke: $text-color-main !important;
    width: 14px;
    height: 14px;
  }
  .dropdown-menu-icon-red {
    stroke: $delete-red-color !important;
    width: 16px;
    height: 16px;
  }
  .filter-icons {
    stroke: $text-color-accent !important;
    width: 14px;
    height: 14px;
  }
  .file-icon {
    stroke: $text-color-main !important;
    width: 14px;
    height: 14px;
  }
  .upload-icon {
    stroke: $text-color-main !important;
  }
  .button-icon.download-all {
    stroke: $background-dark-light !important;
  }
  .mobile-button-icon.download-all {
    stroke: $background-dark-light !important;
  }
  .folder-icon {
    stroke: $secondary-color !important;
  }
  .contact-us-icon {
    stroke: $secondary-color !important;
    width: 15px;
    height: 15px;
  }
  .big-lock-icon {
    stroke: $primary-color !important;
  }
}
