// // Colors
// $primary-background: #262626;
$secondary-background: #3d3d3d;
// $highlight-background: #151515;
$highlight-background-hover: #1f1f1f;
$accent-color: #1c1c1c;
$background-dark-light: #5d5d5d;
$border-gray-dark: #454545;
$text-color-light: #f6f6f6;
$text-light-accent: #e7e7e7;
$text-light-neutral: #b0b0b0;
$text-red-button-inner-color: #ffeeee;
$status-active-green: #6daf51;
$primary-color: #d1d1d1;
$secondary-color: #888888;
$dark-red-color: #7a0000;
$medium-red-color: #ff4949;
$bright-red-color: #ff0000;
$delete-red-color: #e70000;
$accent-red-color: #be0000;

// Fonts
$font-family-satoshi: "Satoshi", sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Others
$border-radius-medium: 12px;
$border-radius-small: 6px;

:root {
  --primary-background: #262626;
  --highlight-background: #151515;
}

$primary-background: var(--primary-background);
$highlight-background: var(--highlight-background);

[data-theme-mode="light"] {
  --primary-background: #E7E7E7;
  --highlight-background: #F6F6F6;
}
