@use "../../assets/styles/variables" as *;

.action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  gap: 20px;
}

.action-bar-title h1 {
  font-family: $font-family-satoshi;
  font-size: 32px;
  font-weight: $font-weight-bold;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: $text-color-main;
}

.action-bar-controls {
  display: flex;
  align-items: center;

  &.user_portal {
    gap: 0;
  }
  &.admin_portal {
    gap: 14px;
  }
  &.user_management {
    gap: 14px;
  }
}

.action-bar-buttons {
  display: flex;
  gap: 14px;
}

.firm-button {
  margin: 0 32px 24px 32px;
  width: fit-content;
}

@media screen and (max-width: 480px) {
  .action-bar {
    display: flex;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 20px;
    flex-direction: column;
  }

  .action-bar-title h1 {
    font-family: $font-family-satoshi;
    font-size: 24px;
    font-weight: $font-weight-bold;
    line-height: 48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $text-color-main;
  }

}

@media screen and (max-width: 375px) {
  .login-page {
    width: 300px;
    gap: 30px;
  }
}
